.SentData {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--white-color, #FFF);
    font-family: Helvetica, serif;
    padding-left: 5%;
}

.header {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.mobile {
    margin-left: 0
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--black-color);
}
