.wrapper {
    color: var(--white-color);
    max-width: 300px;
    padding: 16px;
    z-index: 10;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.headerName {
    color: var(--orange-base, #F86600);
    font-family: Passion One, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
