@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Passion+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
* {
    color: var(--white-color, #FFF);
    font-family: 'Helvetica', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrap {
    background-color: black;
}

.image {
    z-index: 0;
}

.imageWrapper {
    position: fixed;
    top: 100px;
    left: 0;
    width: 30vw;
    height: 100vh;
}
.mobile {
    position: fixed;
    width: 15vw;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --orange-base: #F86600;
    --gray-bg: #232526;
    --gray-30: #E3E5E5;
    --orange-smooth: #F8660026;
    --header-height: 100px
}

