.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.trigger {
    height: 50px;
    opacity: 0;
    width: 100%;
}

.loader {
    margin: 20px;
}
