.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    z-index: 1;
}

.trigger {
    height: 50px;
    opacity: 0;
    width: 100%;
}

.loader {
    margin: 20px;
}

.bucket {
    justify-self: flex-start;
    align-self: flex-start;
}
